{% form '\\XLite\\Module\\UnisenderInc\\Integration\\View\\Model\\UnisenderForm' %}
<div class="unisenderSubscribe">
	{{ widget('\\XLite\\View\\FormField\\Input\\Text\\Email', fieldName='email', placeholder=t('email'), fieldOnly='true') }}
	{{ widget('\\XLite\\View\\FormField\\Input\\Text\\Phone', fieldName='phone', placeholder=t('phone'), fieldOnly='true') }}
	{{ widget('\\XLite\\View\\FormField\\Input\\Text', fieldName='name', placeholder=t('name'), fieldOnly='true') }}
	{{ widget('\\XLite\\View\\Button\\Submit', label=t('subscribe'), style='main') }}
</div>
{% endform %}